platforms/OSX_iOS/Kaare/Kaare.xcodeproj/project.xcworkspace/xcuserdata
platforms/OSX_iOS/Kaare/Kaare.xcodeproj/xcuserdata
platforms/OSX_iOS/Kaare/Kaare.xcworkspace/xcuserdata
platforms/OSX_iOS/Kaare/Pods
